.Auth {
    margin: auto;
    width: 80%;
    text-align: center;
}

@media(min-width: 600px) {
    .Auth {
        width: 600px;
    }
}

.AuthErrorMsg {
    color: red;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}